
.order{
    text-align: center;
    font-weight:bolder; 
    font-size: x-large;
    border-bottom: 3px solid #000;
  }
  .checkout{   
    font-size: 18px;
    padding: 10px;
    width: 100%;
    background-color: rgb(27, 26, 32);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
  }
  .cart-container {
    position: unset;
    right:0px;
    border: 2px solid rgb(27, 26, 32);
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 3%;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
  }  
  .cart-right{
    position: absolute;
    right: -500px;
    border: 2px solid rgb(27, 26, 32);
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 3%;
    width: 20%;
    height: 100%;
    box-sizing: border-box;

  }
  .cart-left{
    right:0px; 
   }

  .total {
    font-weight: 600;
    border-bottom: 3px solid #000;
    border-top: 3px double #000;
    padding: 14px;
  }
  .total-price {
    padding-left: 140px;
    font-size: 2rem;
  }